---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Breadcrumbs from '../../components/Breadcrumbs.astro'; // <-- ДОБАВЛЕНО

export async function getStaticPaths() {
	const posts = await getCollection('posts');
	return posts.map(post => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'posts'>;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout 
    title={post.data.title} 
    description={post.data.description} 
    heroImage={post.data.heroImage}
    schema={post.data.schema}
>
	<main class="container mx-auto px-4">
		<article>
			<Breadcrumbs title={post.data.title} slug={post.slug} /> <!-- <-- ДОБАВЛЕНО -->
			<div class="hero-image mb-6">
				{post.data.heroImage && (
                    <img 
                        width={1020} 
                        height={510} 
                        src={post.data.heroImage} 
                        alt={post.data.title} 
                        class="rounded-lg w-full"
                        style="aspect-ratio: 16 / 9; object-fit: cover;"
                    />
                )}
			</div>
			<div class="prose max-w-none">
				<h1>{post.data.title}</h1>
                <p class="text-sm text-gray-500">
                    Опубликовано: {new Date(post.data.pubDate).toLocaleDateString('ru-RU')}
                </p>
                <hr class="my-4">
				<Content />
			</div>
		</article>
	</main>
</Layout>
